@import url('https://azlen.github.io/roam-themes/core.css');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-synced: rgba(96, 196, 96);
    --color-syncing: rgba(196, 96, 79);
}

/* Sync Icon*/
.rm-saving-icon .rm-synced {
    background-color: var(--color-synced) !important;
}

.rm-saving-icon .rm-saving-remote {
    background-color: var(--color-syncing) !important;
}