/* Mammut Theme */
/* @import url('https://crsren.github.io/Roam-Research/mammut-dark.css'); */

@import url('https://crsren.github.io/Roam-Research/core.css');

:root {

  /*    default 616px --page-width: 910px;*/
  --page-order: row;
  /* new pages to the left; row-reverse new pages to the right*/

  --header-font: "Source Sans Pro", "Inter", sans-serif;
  --body-font: "Source Sans Pro", "Inter", sans-serif;

  --bg-color: rgba(15, 18, 22);
  --page-color: rgba(25, 27, 30);
  --select-color: rgba(45, 47, 50);

  --text-color: #e6e6e6;
  --icon-color: #e6e6e6;
  --bullet-color: rgba(230, 227, 227);


  --color-primary: 100, 138, 237;
  --color-primary-contrast: #FFFFFF;
  --color-secondary: 15, 86, 134;
  --color-secondary-contrast: #FFFFFF;


  --color-synced: rgba(96, 196, 96);
  --color-syncing: rgba(196, 96, 79);
  --def-border-radius: 10px;
}


.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
  background: rgba(68, 68, 119, .99);
}


.CodeMirror-guttermarker-subtle {
  color: #bbb !important;
}

.CodeMirror-linenumber {
  color: #333333 !important;
}

.CodeMirror-cursor {
  border-left: 1px solid white !important;
}

span.cm-qualifier {
  color: #666666 !important;
}

span.cm-comment {
  color: #EE8811 !important;
}

span.cm-atom {
  color: #B58AFD !important;
}

span.cm-number,
span.cm-attribute {
  color: #ffd500 !important;
}

span.cm-keyword {
  color: #599eff !important;
}

span.cm-string {
  color: #37f14a !important;
}

span.cm-meta {
  color: #369BFF !important;
}

span.cm-variable-2,
span.cm-tag {
  color: #99b2ff !important;
}

span.cm-variable-3,
span.cm-def,
span.cm-type {
  color: white !important;
}

span.cm-bracket {
  color: #8da6ce !important;
}

span.cm-builtin,
pan.cm-special {
  color: #ff9e59 !important;
}

span.cm-link {
  color: #845dc4 !important;
}

span.cm-error {
  color: #F41000 !important;
}

.CodeMirror-matchingbracket {
  outline: 1px solid grey !important;
  color: white !important;
}