/* Mammut Theme */
/* @import url('https://crsren.github.io/Roam-Research/mammut.css'); */

@import url('https://crsren.github.io/Roam-Research/core.css');

:root {

  /*    default 616px --page-width: 910px;*/
  --page-order: row;
  /* new pages to the left; row-reverse new pages to the right*/

  --header-font: "Source Sans Pro", "Inter", sans-serif;
  --body-font: "Source Sans Pro", "Inter", sans-serif;

  --bg-color: rgba(240, 237, 237);
  --page-color: rgba(255, 255, 255);
  --select-color: rgba(220, 217, 217);

  --text-color: #000000;
  --icon-color: #000000;
  --bullet-color: rgba(230, 227, 227);


  --color-primary: 10, 96, 154;
  --color-primary-contrast: #FFFFFF;
  --color-secondary: 34, 136, 102;
  --color-secondary-contrast: #FFFFFF;


  --color-synced: rgba(96, 196, 96);
  --color-syncing: rgba(196, 96, 79);
  --def-border-radius: 10px;
}



.CodeMirror-linenumber {
  color: #AAAAAA !important;
}